@use "../../base";

.messages {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 50px 0px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    table {
      width: 100%;

      .header {
        background-color: base.$primary_2;
        color: #000;
        font-weight: 500;
      }

      tr {
        height: 100px;

        th {
          text-align: left;
          padding-left: 10px;
        }

        td {
          padding-left: 10px;

          &:first-child {
            font-weight: 500;
          }

          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }

          button {
            background-color: base.$primary_1;
            color: #fff;
            border: none;
            padding: 10px;
            font-weight: 500;
            cursor: pointer;
          }
        }

        &.active {
          background-color: #a3dbbff2;
        }
      }
    }
  }
}
